<h2>교수 목록</h2>
<a href="/admin/professors/new">신규 등록</a>
<table>
    <tr><th>이름</th><th>이메일</th><th>학과</th><th>관리</th></tr>
    {{#professors}}
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{department.name}}</td>
            <td>
                <a href="/admin/professors/{{id}}/edit">수정</a>
                <form action="/admin/professors/{{id}}/delete" method="post" style="display:inline;">
                    <button type="submit">삭제</button>
                </form>
            </td>
        </tr>
    {{/professors}}
</table>
